html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff2ff;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;

  list-style: none;
}
.gallery-item {
  margin-left: 40px;
}
.gallery-img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}
